fastapi
uvicorn[standard]
sqlmodel
pydantic>=2.0.0
pydantic-settings
psycopg2-binary
supabase
redis
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
google-generativeai
httpx
apscheduler
beautifulsoup4
twilio
alembic
pgvector
requests
python-telegram-bot
pytz
PyYAML
tqdm
sniffio
anyio
certifi
idna
typing-extensions
